<div id="news-archive">
    {% for news in newsPager.currentPageResults %}
        <div class="news">
            <h2 class="title">{{ news.title }}</h2>
            <div class="date">{{ news.date|date("Y-m-d H:i:s") }}</div>
            <div class="introduction">{{ news.introduction }}</div>
            <a href="{{ url('fsi_news', {'id': news.id}) }}">{{ 'news.read_more'|trans({}, 'FSiNewsBundle') }}</a>
        </div>
    {% endfor %}
    <div class="pagination">
        {{ pagerfanta(newsPager) }}
    </div>
</div>