<div id="news-archive">
    {% for news in newsPager.currentPageResults %}
        <div class="news">
            <h2 class="title">
                {#<a href="{{ url('fsi_gallery_page', {'id': gallery.id}) }}">#}
                    {{ news.title }}
                {#</a>#}
            </h2>
            <div class="date">{{ news.date|date("Y-m-d H:i:s") }}</div>
            <p class="content">{{ news.content }}</p>
        </div>
    {% endfor %}
    <div class="pagination">
        {{ pagerfanta(newsPager) }}
    </div>
</div>